{% extends "streamNow/main.html" %}


{% block content %}

<div class="container" id="page-container">
  <div class="carousel slide" data-ride="carousel" id="trending-carousel">
    <ol class="carousel-indicators">
      {% for item in data %}
      {% if forloop.first %}
      <li data-target="trending-carousel" data-slide-to="{{ forloop.counter0 }}" class="active">

      </li>
      {% else %}
      <li data-target="trending-carousel" data-slide-to="{{ forloop.counter0 }}">
      </li>
      {% endif %}
      {% endfor %}
    </ol>
    <div class="carousel-inner ">
      {% for item in data %}
      {% if forloop.first %}
      <div class="carousel-item active">
        <img class="d-block w-100 img-fluid" src="https://image.tmdb.org/t/p/w342{{item.poster_path}}" alt="{{item.title}}">
        <div class="carousel-caption d-none d-md-block" id="carousel-link">
          <a href="/{{item.media_type}}/{{item.id}}">{{item.title}}</a>

        </div>
      </div>
      {% else %}
      <div class="carousel-item">

        <img class="d-block w-100 img-fluid" src="https://image.tmdb.org/t/p/w342{{item.poster_path}}" alt="{{item.title}}">
        <div class="carousel-caption d-none d-md-block" id="carousel-link">
          <a href="/{{item.media_type}}/{{item.id}}">{{item.title}}</a>


        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
    <a href="#trending-carousel" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Prev</span>
      </a>
      <a href="#trending-carousel" class="carousel-control-next" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
</div>


<!-- RECENT POSTS -->
<main role="main" class="container">
  <div class="row justify-content-md-center">
    <div class="">
<!--  Posts    -->
      {% for post in posts %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a href="#" class="mr-2">{{post.author}}</a>
              <small class="text-muted">{{post.date_posted|date:'F d, Y'}}</small>
          </div>
          <h2><a href="#" class="article-title">{{post.title}}</a></h2>
          <p class="article-content">{{post.content}}</p>
        </div>
      </article>
      {% endfor %}
<!--  End posts    -->
    </div>
  </div>
</main>




{% endblock content %}