{% extends "streamNow/main.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
             {% for post in data %}
                    <article class="media content-section">
                      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                      <div class="media-body">
                        <div class="article-metadata">
                          <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                          <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                        </div>
                            <h2><a class="article-title" href="{% url 'post-detail' post.media_type post.id_media_type post.id %}">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.content }}</p>
                      </div>
                    </article>
                {% endfor %}
                <!--    Pagination logic    -->
                    <div class="row justify-content-center m-4">
                        {% if data %}
                          {% if data.has_previous %}
                            <a class="btn btn-outline-info m-1" href="?page=1">First</a>
                            <a class="btn btn-outline-info m-1" href="?page={{ data.previous_page_number }}">Previous</a>
                          {% endif %}

                          {% for num in data.paginator.page_range %}
                            {% if data.number == num %}
                              <a class="btn btn-info m-1" href="?page={{ num }}">{{ num }}</a>
                            {% elif num > data.number|add:'-3' and num < data.number|add:'3' %}
                              <a class="btn btn-outline-info m-1" href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                          {% endfor %}

                          {% if data.has_next %}
                            <a class="btn btn-outline-info m-1" href="?page={{data.next_page_number}}">Next</a>
                            <a class="btn btn-outline-info m-1" href="?page={{ data.paginator.num_pages }}">Last</a>
                          {% endif %}

                        {% endif %}
                    </div>
<!--    End pagination    -->

        </div>
         <div class="col-sm-6">
            <div class="card-deck">
                <div class="card">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">

                                <h5 class="card-title">
                                    {% if homepage %}
                                    <a href="{{homepage}}">{{name}}</a>
                                    {% else %}
                                    {{ name }}
                                    {% endif %}
                                </h5>
                                <p class="card-text">
                                    {{ overview }}
                                </p>
                            </div>

                <!--        GENRES AND PRODUCTION COMPANIES        -->

                            <div class="card-body justify-content-center" id="genre-and-production-company">
                                {% if genres %}
                                <h6 class="card-title" style="font-size: 1.2em">
                                {% for item in genres %}
                                {% if forloop.last %}
                                 {{ item.name }}
                                {% else %}
                                 {{ item.name }},
                                {% endif %}
                                {%  endfor %}
                                </h6>

                                {% if production_companies %}
                                <p class="card-subtitle">
                                    {% for item in production_companies %}
                                    {% if forloop.last %}
                                     {{ item.name }}
                                    {% else %}
                                     {{ item.name }},
                                    {% endif %}
                                    {%  endfor %}
                                </p>
                                {% endif %}
                                {% endif %}
                            </div>

                <!--          END GENRES AND PRODUCTION COMPANY  -->
                <!--          RELEASE DATE INFORMATION           -->

                            <div class="card-body" id="release-details">
                                <div class="row">
                                    {% if release_date is not None %}
                                    <div class="col-xs-6 col-md-6">
                                        <h4>Release Date: </h4>
                                        <p>{{ release_date }}</p>
                                    </div>
                                    {% endif %}

                                    {% if runtime is not None %}
                                    <div class="col-xs-6 col-md-6">
                                        <h4>Running Time: </h4>

                                        <p>{{runtime}} minutes</p>

                                    </div>
                                    {% endif %}

                                    {% if revenue is not None %}
                                    <div class="col-xs-6 col-md-6">
                                        <h4>Box Office: </h4>
                                        <p>{{revenue}}</p>
                                    </div>
                                    {% endif %}

                                    {% if vote_average %}
                                    <div class="col-xs-6 col-md-6">
                                        <h4>Vote Average: </h4>
                                        <p>{{vote_average}}/10</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

            <!--      END RELEASE DATE INFO         -->
            <!--            OUTSIDE LINKS           -->
                            <div class="card-body" id="links">
                                <div class="d-flex justify-content-between">
                                    {% if media_type == 'movie' and imdb_id %}
                                    <button class="btn" style="background-color: #F3CE13;">
                                        <a style="color: black;" role="button" href="https://www.imdb.com/title/{{imdb_id}}">
                                            IMDb
                                        </a>
                                    </button>
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                    <a class="btn btn-secondary" href="{% url 'post-create' media_type id %}">New Post</a>
                                    {% else %}
                                    {% endif %}
                                </div>


                            </div>
                        </div>
                    </div>
                    <img src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="{{name}}" class="card-img-top">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}